.mainHomeInformation{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.mainHomeText{
    max-width: 420px;
    text-align: center;
    font-family: 'PoppinsRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
}

.mainHomeText ~ *{
    margin-top: 32px;
}

.mainTitleDescription ~ * {
    margin-top: 4px;
}


@media(max-width:820px){
    .mainHomeText{
        max-width: 290px;
        font-size: 17px;
        line-height: 24px;
    }
}

@media(max-width:760px){
    .mainHomeText{
        font-size: 16px;
    }
}