.mainFooter{
    background-color: #162C4E;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
} 


.notifiedBlock{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 60px 0 70px 0;
}

.notifiedBlockForm{
    position: relative;
}



.notifiedBlockFormInput{
    width: 259px;
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    padding: 16px 154px 16px 27px;
    text-overflow: ellipsis;
}

.notifiedBlockFormBtn{
    padding: 0px;
    border: none;
    right: 8px;
    position: absolute;
    top: 9px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #DF2224;
}

.notifiedBlockFormBtn[disabled]{
    background-color: #796d6d;
}


.notifiedBlockFormBtn svg{
    padding: 11px;
}

.linkRefMainFooter{
    position: absolute;
    right: 0;
    margin-right: 110px;
    top: 78px;
}
    
.linkRefMainFooter a{
    font-family: 'PoppinsRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link::after {
    position: absolute;
    content: url('../../shared/ui/svg/arrow-downSvg.svg');
    display: inline-block;
    width: 25px;
    height: 25px;
    top: 4px;
    margin: 0 5px 0 10px;
}

@media(max-width:1150px){
    .linkRefMainFooter{
        margin-right: 90px;
    }
}

@media(max-width:1030px){
    .linkRefMainFooter{
        margin-right: 70px;
    }
}

@media(max-width:940px){
    .linkRefMainFooter{
        margin-right: 60px;
    }
    .linkRefMainFooter a{
        font-size: 16px;
    }

    .link::after {
        top: 0px;
        margin: 0 5px 0 6px;
    }
    .notifiedBlockFormInput{
        padding: 16px 140px 16px 27px;
    }
}

@media(max-width:800px){
    .linkRefMainFooter{
        margin-right: 40px;
    }

}

@media(max-width:760px){

    .notifiedBlockFormBtn{
        right: 6px;
        top: 4px;
    }

    .notifiedBlockFormBtn svg{
        padding: 9px;
    }

    .notifiedBlockFormInput{
        padding: 10px 135px 10px 20px;
    }

    .linkRefMainFooter{
        margin-top: 15px;
        position: relative;
        top: 0;
        left: 0;
    }

    .notifiedBlock{
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width:440px){
    .notifiedBlockFormBtn svg{
        padding: 8px;
    }
    .notifiedBlockFormInput{
        font-size: 17px;
        padding: 10px 100px 10px 20px;
    }
}

@media(max-width:410px){
    .notifiedBlockFormInput{
        font-size: 16px;
        padding: 10px 80px 10px 20px;
    }
}

@media(max-width:380px){
    .notifiedBlockFormInput{
        font-size: 115;
        padding: 10px 50px 10px 20px;
    }
}

@media(max-width:370px){
    .notifiedBlockFormBtn svg{
        padding: 7px;
    }
    .notifiedBlockFormInput{
        font-size: 14px;
        padding: 10px 0px 10px 20px;
    }
}