.allEventsTitle~*{
    margin-top: 40px;
}   

.wrapper{
	margin: 0 auto;
    width: 100%;
    text-align:center;
    margin-top: 100px
}

.main_title{
	font-size: 32px;
	color: #fff;
	letter-spacing: 2px;
	padding: 15px 25px; 
	border-radius: 3px;
	text-align: center;
	width: 700px;
	margin: 0 auto 25px;
}


/* action */
.accordion_wrap ul{
	display: flex;
	justify-content: center;
}

.accordion_wrap .accordion_item{
	list-style: none;
    background: #162C4E;
	cursor: pointer;
	position: relative;
	transition: all 0.2s linear;
    font-family: 'SF-Pro-DisplaySemibold';
    font-size: 32px;
    line-height: 100%;
    color: #FFFFFF;

}

.accordion_wrap .accordion_item:hover,
.accordion_wrap li.active .accordion_item{
    background: #162C4E;
}

.accordion_item_title{
    margin-left: auto;
    margin-right: auto;
}
.accordion_wrap ul li{
	display: flex;
}
.acordingList{
    position: relative;
    min-height: 680px;
    padding: 0 5px;
}

.accordion_item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 2px;
}
.accordion_item_num{
    text-align: center;
    padding-bottom: 10px;
    font-family: 'SF-Pro-Display';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    padding: 0px 12px 10px 12px;
}
.accordion_item .accordion_item_title{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding-top: 20px;
}

/* menu */
.accordion_menu{
	width: 0px;
	background: #fffaeb;
	overflow: hidden;
	transition: width 0.5s ease;
    background-image: url(../../shared/ui/img/FirstIvent.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accordion_wrap ul li.active .accordion_menu{
	width: 980px;
}

.accordion_menu .content{
	font-size: 13px;
	font-weight: 300;
	margin: 10px 0;
}

.accordion_menu .view_more{
	padding: 5px;
	width: 125px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	font-size: 13px;
}

.accordion_menu .view_more:hover{
	text-decoration: underline;
}

.accordingBlockConteinerInformation{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.acordionBlockInformation{
    width: 360px;
    height: 100%;
    background: rgba(18, 18, 18, 0.8);
    backdrop-filter: blur(20px);
}
.acordionBlockInformation .accordionBlockInformationIndex{
    display: block;
    margin-bottom: 100px;
    left: -123px;
    top: -24px;
    position: relative;
    font-family: 'SF-Pro-DisplaySemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 380px;
    line-height: 100%;    
    text-align: right;
    letter-spacing: -0.03em;
    color: rgba(255, 255, 255, 0.04);
}

.accordionBlockInformationTimeNameTitle{
    font-family: 'SF-Pro-DisplaySemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.accordionBlockInformationTimeNameDate{
    font-family: 'SF-Pro-Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 25px;
}
.accordingBlockConteinerInformation{
    padding-left:40px ;
}

.accordionBlockInformationTimeBtn{
    border: none;
    display: flex;
}

.accordionBlockInformationTimeBtn a{
    max-width: 210px;
    background: none;
    border: 1px solid #FFFFFF;
    border-left :8px solid #FFFFFF;
    font-family: 'SF-Pro-DisplaySemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
    padding: 20px 10px 20px 45px;
    display: block;
}

 @media(max-width:1640px){
    .accordion_wrap ul li.active .accordion_menu{
        width: 740px;
    }
}

@media(max-width:1600px){
    .accordion_wrap ul li.active .accordion_menu {
        width: 670px;
    }
    .accordion_item_num{
        padding: 0px 8px 10px 8px;
    }
}

@media(max-width:1550px){
    .accordion_item_num{
        padding: 0px 6px 10px 6px;
        font-size: 38px;
    }
    .accordingBlockConteinerInformation {
        padding-left: 20px;
    }
    .acordionBlockInformation {
        width: 320px;
    }
}

@media(max-width:1450px){
    .accordion_wrap .accordion_item {
        font-size: 28px;
    }
    .acordionBlockInformation {
        width: 320px;
    }
    .accordion_wrap ul li.active .accordion_menu{
        width: 720px;
    }
    .accordion_item_num{
        padding: 0px 5px 10px 5px;
        font-size: 35px;
    }
} 

@media(max-width:1200px){
    .accordion_wrap ul li.active .accordion_menu{
        width: 480px;
    }
    .accordion_item_num{
        padding: 0px 5px 10px 5px;
        font-size: 35px;
    }
} 


@media(max-width:950px){
    .accordionBlockInformationTimeBtn a {
        padding: 20px 2px 20px 4px;
    }
    .accordion_item_num{
        padding: 0px 6px 10px 6px;
        font-size: 32px;
    }
    .acordionBlockInformation {
        width: 275px;
    }
}
@media(max-width:950px){

    .acordionBlockInformation {
        width: 240px;
    }

    .accordingBlockConteinerInformation {
        padding-left: 10px;
    }
    .acordionBlockInformation .accordionBlockInformationIndex {
        font-size: 300px;
    }
}

@media(max-width:930px){
    .accordionBlockInformationTimeBtn a {
    max-width: 160px;
}
.accordionBlockInformationTimeBtn a {
    font-size: 14px;
}
.acordionBlockInformation {
    width: 200px;
}

.accordion_item_num{
    padding: 0px 5px 10px 5px;
    font-size: 25px;
}

.accordion_wrap .accordion_item {
    font-size: 24px;
}

}


@media(max-width:840px){

    .accordion_item_num{
        padding: 0px 32px 0px 40px;
        font-size: 32px;
    }

     .accordion_item {
         padding: 27px 0px;;
    }


    .wrapper{
        margin-top: 0px;
    }
    .acordingList{
        flex-direction: column;
    }
    .row{
        flex-direction: column-reverse;
    }

    .accordion_item .accordion_item_title{
        writing-mode: horizontal-tb;
        transform: rotate(0);
    }
    .accordion_wrap ul li.active .accordion_menu{
        height: 460px;
        width: 100.3%;
        transition: height 0.5s ease;
    }
    .accordion_menu{
        width: 100%;
        height: 0px;
    }

    .accordion_item{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .acordionBlockInformation {
        /* setup */
        width: 0px;
        height: 0%;
    }

    
    .accordion_item_title{
        font-size: 24px;
    }
    .accordion_item .accordion_item_title {
        padding: 0;
        margin: 0;
        padding-top: 6px;
    }

}
